/* purgecss start ignore */
@tailwind base;
@tailwind components;

.P {
  @apply mt-3;
  @apply text-base;
}

.H1 {
  @apply text-4xl;
  @apply tracking-tight;
  @apply leading-10;
  @apply font-bold;
}

@screen sm {
  .P {
    @apply mt-5;
    @apply text-lg;
    @apply max-w-xl;
    @apply mx-auto;
  }
  .H1 {
    @apply text-5xl;
    @apply leading-none;
  }
}

@screen md {
  .P {
    @apply mt-5;
    @apply text-xl;
  }
  .H1 {
    @apply text-6xl;
  }
}

/* @screen lg {
.P {
  sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl;
  }
}

@screen xl {
.P {
  sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl;
  }
} */

/* purgecss end ignore */
@tailwind utilities;

html {
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input {
  vertical-align: middle;
  line-height: normal;
}

input::placeholder,
textarea::placeholder {
  color: #52606d;
  /* color: #3C4859; */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #52606d;
  line-height: 1.5;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #52606d;
  line-height: 1.5;
}

::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* Font Declaration */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
}

/* Font Declaration */

/* Classes */

.btn-cc {
  border-radius: 5px;
  display: block;
  padding: 0.5rem 0.9rem;
  font-weight: 700;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
}

.btn-lg {
  padding: 0.625rem 1.5rem;
}

.active-nav {
  border-bottom: 2px solid;
}

.link-animation:hover .active-nav {
  border-bottom: 2px solid #ffffff;
}

.justify-self-center {
  justify-self: center;
}

.padding-inline-start {
  padding-inline-start: 30px;
}

.block-imp {
  display: block !important;
}

.text-muted-black {
  color: #333333;
}

.text-muted-gray {
  color: #414141;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.let-space-3 {
  letter-spacing: -3px;
}

.let-space-5 {
  letter-spacing: -5px;
}

.color-invert {
  filter: invert(1);
  mix-blend-mode: difference;
}

.btn-skeleton {
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
}

.bg-gray-nice {
  background-color: #f6f5f4;
}

.bg-ivory {
  background-color: #f7f1e3;
}

.h-1\/2 {
  height: 50%;
}

.before-01::before {
  content: "01";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-02::before {
  content: "02";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-03::before {
  content: "03";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-04::before {
  content: "04";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-05::before {
  content: "05";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-06::before {
  content: "06";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-07::before {
  content: "07";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-08::before {
  content: "08";
  display: block;
  font-weight: 600;
  font-style: normal;
}

/* Classes */

/* IDs */

#arrow-studio-page {
  width: 40px;
  height: auto;
}

#arrow-studio-page:hover {
  fill: #6c83ea;
}

#mouse-img {
  height: 90px;
}

.center-y {
  transform: translateX(50%);
  right: 50%;
}

/* #hero {
  background-image: url(../img/placeholder.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero.loaded {
  background-image: url(../img/bg-main.jpeg);
}

#studio-hero {
  background-image: url(../img/bg-studio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.max-w-80 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* #contact-page {
    background-image: url(../img/test5.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

/* IDs */

/* Animation */
.animated {
  opacity: 0;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1),
    opacity 1.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition-delay: 0.4s;
}

.FadeUp {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.FadeRight {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}

.FadeLeft {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}

.anim .animated,
.anim.animated {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.anim-delay-05 {
  transition-delay: 0.5s !important;
}

.anim-delay-06 {
  transition-delay: 0.6s !important;
}

.anim-delay-07 {
  transition-delay: 0.7s !important;
}

.anim-delay-08 {
  transition-delay: 0.8s !important;
}

.anim-delay-09 {
  transition-delay: 0.9s !important;
}

.anim-delay-10 {
  transition-delay: 1s !important;
}

/* Cascading text effect */
/* .char {
    display: inline-block;
    animation-delay: calc(0.25s + var(--char-index) * 0.1s);
    transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
}

.text--blocks [data-scroll='out'] .char {
    visibility: hidden;
}

.text--blocks [data-scroll='in'] {
    overflow: hidden;
    position: relative;
}

.text--blocks [data-scroll='in'] .char {
    transition-delay: 0.5s;
}

.text--blocks [data-scroll='in']:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    animation: block 0.5s 0.25s both;
}

@-moz-keyframes block {
    0% {
        transform: translate(-110%, 0);
    }

    45%,
    55% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(110%, 0);
    }
}

@-webkit-keyframes block {
    0% {
        transform: translate(-110%, 0);
    }

    45%,
    55% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(110%, 0);
    }
}

@-o-keyframes block {
    0% {
        transform: translate(-110%, 0);
    }

    45%,
    55% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(110%, 0);
    }
}

@keyframes block {
    0% {
        transform: translate(-110%, 0);
    }

    45%,
    55% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(110%, 0);
    }
} */

/* Cascading text effect */

/* Particles.js */
canvas {
  display: block;
  max-height: unset;
}

#particles-js {
  position: relative;
  width: 100vw;
  min-height: 712px;
  background-color: #e4e7eb;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#particles-js div {
  min-height: 712px;
}

#enable-navbar-invert {
  height: 10px;
  margin-top: -55px;
  z-index: -1;
  visibility: hidden;
}

/* Particles.js */

@media (min-width: 640px) {
  .sm\:FadeUp {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  .sm\:FadeRight {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  .sm\:FadeLeft {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  .sm\:anim-delay-05 {
    transition-delay: 0.5s !important;
  }

  .sm\:anim-delay-06 {
    transition-delay: 0.6s !important;
  }

  .sm\:anim-delay-07 {
    transition-delay: 0.7s !important;
  }

  .sm\:anim-delay-08 {
    transition-delay: 0.8s !important;
  }

  .sm\:anim-delay-09 {
    transition-delay: 0.9s !important;
  }

  .sm\:anim-delay-10 {
    transition-delay: 1s !important;
  }
}

@media (max-width: 640px) {
  .scroll-lock {
    overflow: hidden;
  }

  #blob-top {
    height: 50vh;
  }

  #blob-bottom {
    height: 50vh;
    bottom: -8%;
  }

  #arrow-studio-page {
    width: 40px;
  }
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}
